# HTID:2809578: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1;
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:2809578:

<FilesMatch "\.(js)$">
	<IfModule mod_headers.c>
		Header set Access-Control-Allow-Origin "*"
	</IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
	DirectorySlash Off 
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME}\.html -f
	RewriteRule ^(.*)  /$1.html [L] 
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)  /$1.php [L]
	RewriteCond %{THE_REQUEST} \s/+(.*?/)?(?:index)?(.*?)\.(html|php)[\s?/] [NC] 
	RewriteRule ^(.*)  /%1%2 [R=301,L]
	RewriteCond %{REQUEST_URI} !(/$|\.) [NC]
	RewriteRule ^  %{REQUEST_URI}/ [R=301,L] 
</IfModule>

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

<Limit GET POST PUT DELETE OPTIONS>
Require all granted
</Limit>
<LimitExcept GET POST PUT DELETE OPTIONS>
Require all denied
</LimitExcept>
