/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    characterInfos STYLE
----------------------------------------------------- */
#characterInfos .sidebar-header {
    width: 250px;
    padding: 20px;
    text-align: center;
}


#characterInfos {
    font-family: 'Poppins', sans-serif;
    flex-grow: 4; /* default 0 */
    width: 300px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#characterInfos.active {
    width : 0;
    overflow: hidden;
}
#characterInfos .characterStatistique, #characterInfos .characterStatistique table, #characterInfos .sidebar-header, #characterInfos .sidebar-header h3 {
    transition: all 0.3s;
}

#characterInfos.active .characterStatistique, #characterInfos.active .characterStatistique table{
    width : 0;
    overflow: hidden;
    display : none
}

#characterInfos.active .sidebar-header, #characterInfos.active .sidebar-header h3 {
    width : 0;
    overflow: hidden;
}

#characterInfos .characterInfos-header {
    padding: 20px;
    background: #6d7fcc;
}

#characterInfos ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#characterInfos ul p {
    color: #fff;
    padding: 10px;
}

#characterInfos ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#characterInfos ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#characterInfos ul li.active>a,
#characterInfos a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#characterInfos a,
#characterInfos a:hover,
#characterInfos a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#characterInfos a[data-toggle="collapse"] {
    position: relative;
}

#characterInfos .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#characterInfos ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#characterInfos ul.CTAs {
    padding: 20px;
}

#characterInfos ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#characterInfos a.download {
    background: #fff;
    color: #7386D5;
}

#characterInfos a.article,
#characterInfos a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #characterInfos {
        margin-left: -250px;
    }
    #characterInfos.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #characterInfosCollapse span {
        display: none;
    }
}


/* ---------------------------------------------------
    Character statistique table
----------------------------------------------------- */
.characterStatistique table{
    width: 100%;
}