/* Général aux compétences, actives ou pas. */

.blanc {
    background-color : rgba(255, 255, 255, 0.75);
    min-width : 75px;
    text-align : center;
    min-height : 2.5em;
}


.cadre img, .cadre {
    /*z-index: 1;           /* image au dessus */
    position: relative;   /* pour prise en compte z-index */
    width: 2.5em;           /* largeur à ajuster suivant le besoin */
}


.cadre {
    line-height: 1em;     /* pour centrage vertical */
    margin : auto;
    background-color : rgba(0, 0, 0,0.75);
}



.test{
    border: 1.5px solid grey;
    background-color : rgba(0, 0, 0,0.15);
}



.test:hover{
    border: 1.5px solid #B4B2B2;
}



.test:hover >div>span{
    left: 2.9em;            /* position égale à la largeur de l'image */
    visibility: visible;
    border-radius : 2.3px;
    border: 3px solid #D14011;
}

.cadre2 {
    position: relative;   /* pour servir de référent */
    width: 2.5em;          /* largeur à ajuster suivant le besoin */
    line-height: 1em;     /* pour centrage vertical */
    margin : auto;
    height : 2.6em;
}




.cadre>span {
    position: absolute;   /* positionnement hors flux */
    /* décalage à gauche toute */
    /*padding: 0 .25em;     /* un peu d'espace latéral */
    /*color: #eee;*/          /* couleur du texte à ajuster suivant le besoin */
    background: rgba(0, 0, 0, 1);     /* couleur du fond à ajuster suivant le besoin */
    /*transition: all .5s;  /* la transition à appliquer */
    visibility: hidden;
    width: 22em;      /* */
    padding : 9px;      /* */
    z-index: 100;      /* */
    top : -3px;      /* */
    color : #C48A13;      /* */
}

.voir{
    position : relative;
}
.voir:hover .formule{
    visibility: visible;
    z-index : 1000;
}
.formule{
    visibility: hidden;
    position: absolute;
    background-color : rgba(0, 0, 0, 0.8);
    border-radius : 2.3px;
    margin : 0;
    padding : 0;
    left : 0;
    text-align : left;
    border: 1px inset #DE680C
}





.aligner table{
    border-collapse: separate;
    border-spacing: 10px 10px; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
    border-radius : 10px;
    max-width : 80%;
    max-height : 85%;
    min-height : 30%;
    margin : 0 auto;
}

.aligner th{
    padding : 0 0 20px 0;
}

.centrer{
    margin: auto;
    max-width : 100%;
    padding : 45px 0 45px 0;
}

.aligner{
}





/* Général au footer */
.footer{
    height : 20%;
    min-width : 100%;
    background-color : rgba(50,50,50, 0.85);
    text-align : center;
}

.footer div{
    width : 100%;
    height : 10%;
    text-align : center;
    /*padding : auto;*/
}

.footer div div{
    /*padding : auto;*/
}

.footer  table {
    text-align : center;
    height : 90%;
    margin : auto;
}

.footer td{
    color : white;
    width :  16.66%;
}






/* Général aux couleurs de police */
.red {
    color : red;
}
.PM {
    color : #2C7F26;
}
.PA{
    color : #3794F3;
}
.tour{
    color : white;
}
.armure{
    color : grey;
}
.canon{
    color : yellow;
}
.case{
    color : green;
}
.vie{
    color : #FF006A;
}
.competence{
    color : #DB6409;
}
.bouclier{
    color : #C675DE;
}
.entete{
    color : #C2BF11;	/*  #DF8139; ou alors #951673;  */
}
.exemple{
    color : #1344CB;
}
.force{
    color : #853d35;
}
.intelligence{
    color : #B40404;
}
.agilite{
    color : #3ADF00;
}
.mana{
    color : #00BFFF;
}
.reussite{
    color : gold;
}
.inventaire{
    color : #A4A4A4;
}
.sang{
    color : #740D0D;
}
.surcharge{
    color : #B40404;
}


.couts{
    float : left;
    text-align: left;
}
.De{
    color : #C48A13;
}











/* Pour cacher la pub de webhostapp, qui empèche de modifier certaines valeurs présentes dans le footer*/
.resistant>div{
    visibility : hidden;
}

#barre{
    visibility : visible;
}












/* Zone de test*/
/* Général à l'activation des effets sur une compétence */
.activé {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.7;
    color : white;
    text-shadow : 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}


.pointsdispo {
    -webkit-animation: pulsate2 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.7;
    color : gold;
    text-shadow : 0 0 0.2em red;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.7;
    }
}
@-webkit-keyframes pulsate2 {
    0% {
        opacity: 0.6;
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 1.0;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.6;
    }
}

.nonactivé {
    user-select: none; // Default
-webkit-user-select: none; // For Webkit
-khtml-user-select: none;
    -moz-user-select: none; // For Mozilla
-o-user-select: none;
}









/* Zone de test*/

.Equipement{
    background-color : rgba(46,46,46,1);
    padding-top : 1px;
    margin-top: 1px;
    width : 100%;
}


.Equipement table{
    margin : auto;
}





.moitie{
    height : 50%;
    width : 49%;
    min-height : 500px;
    min-width : 700px;
    float : left;
    position : relative;
    border: 1.2px white dashed;
}

.moitie table{
    margin-left: 314px;
    color : white;
}


.moitie .Equipement{
    margin-left : 0;
    width : 0;
}
.personnagebis{
    width : 55%;
}


.centrage{
    top : 10px;
    left : -5%;
    position : relative;
}


/* Général aux temps de rechargement de combat.php */
.rechargement{
    left : -15%;
    position : absolute;
    z-index : 13;
    font-size : 20px;
    color : red;
}
.durée{
    top: -3px;
    left: -3px;
    position : absolute;
    z-index : 13;
    font-size : 25px;
    color : green;
}
.cddurée{
    position : absolute;
    float : left;
    left: -10.5px;
    top : -0.2px;
    z-index : 13;
    font-size : 20px;
    color : green;
    height  : 100%;
    width : 50%;
    margin : auto;
    font-weight: bold;
}
.cdrechargement{
    position : absolute;
    float : left;
    right: -5.5px;
    z-index : 13;
    font-size : 20px;
    color : red;
    height  : 100%;
    width : 50%;
    margin : auto;
}

.nocooldown{
    visibility : hidden;
    position : absolute;
    z-index : 13;
    font-size : 20px;
}



/* Général à combat.php */
.fondvoleur{
    background-color : rgba(255,0,0,0.1);
}

.fonddémoniste{
    background-color : rgba(105,43,190,0.1);
}

.fondnain{
    background-color : rgba(123,36,28,0.1);
}

.fondpaladin{
    background-color : rgba(255,215,0,0.1);
}

.fondmanipulateurdesang{
    background-color : rgba(255,0,0,0.1);
}












.info_incomplete{
    transition : all 1.5s;
    margin-left : -150px;
    position : absolute;
    margin-top : 45px;
    /*background-color : none;*/
    opacity : 0;
    z-index : 1;
    border-radius : 3px;
    padding : 3px;
    /* max-height : 0; */

}
.info{
    transition : all 1.5s;
    margin-left : -150px;
    position : absolute;
    margin-top : 45px;
    background-color : black;
    border-radius : 3px;
    padding : 3px;
    color : red;
    opacity : 1;
    z-index : 1;
    /* max-height : 200; */
}


















.pulse {
    position:relative;
}




.pulse:before,
.pulse:after {
    content:'';
    position:absolute;
    top:0; right:0; bottom:0; left:0;
}

.pulse:before {
    -webkit-animation: pulse 6s linear infinite;
    animation: pulse 6s linear infinite;
}
.pulse:after {
    -webkit-animation: pulse 6s linear 3s infinite;
    animation: pulse 6s linear 3s infinite;
}





