/* ---------------------------------------------------
    New css part
----------------------------------------------------- */
.global-wrapper {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}
.wrapper {
    flex: 2;
    display: flex;
    flex-flow: column;
    width: 100%;
    z-index: 1;
}


.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    display: block;
    /*
    background-image: url('images/the_elder_scrolls_v_skyrim_by_artfall-d4w0bgn.jpg');
    */
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    height: 100%;
}

.multipleInputs {
    width: 85%;
    margin: auto;
}

.touch-tip {
    position: absolute;
    top: -1%;
    transform: translate(0, -100%);
}

.item-tooltip {
    position: relative;
    overflow: hidden;
}

.input-equipements-niveaux {
    margin: auto;
    width: max-content;
    padding-top: 5px;
}
.input-equipements-niveaux select {
    margin-right: 3px;
}

.input-qualite-objets input {
    margin-right: 2px;
}

/* ---------------------------------------------------
    Old css, included directly in a <style> </style> in Hum.php
----------------------------------------------------- */
.alignement {
    display: flex;
    flex-flow: row wrap;
    width: 365px;
<!-- 19 % --> color: white;
    top: 0;
    float: left;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-right: 10px;
}

.mobile-item-wrapper {
    margin: 0;
}

.caca {
    width: 100%;
    height: 100px;;
    margin-left: 5px;
    color: white;
}

.db-description {
    width: 100%;
}

form {
    color: white;
}


input[type="radio"]:checked + label img {
    filter: saturate(250%);
}

input[type="radio"] {
    transform: scale(0, 0);

}

form img {
    width: 7%;
}

label {
    text-align: center;
    display: unset;
}

label span {
    width: 20%;
}

.limite {
    width: 100%;
    text-align: center;
}

.personnages {
    width: 43.5%;
    text-align: center;
    margin: auto;
    padding-left: 1.3%;
}

.personnages div {
    float: left;
    width: 20%;
}

input[type="number"] {
    width: 11%;
}

.valeur {
    color: #bda6db;
}

.personnagebis {
    margin: auto;
    color: white;
}

.Equipement {
    position: relative;
}

.mobile-item-wrapper {
    margin: auto;
}


.optionGroup {
    font-weight: bold;
    font-style: italic;
    padding-top: 5px
}

.optionChild {
    padding-left: 15px;
    font-size: 90%;
}

.button {
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:active {
    box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

.button1 {
    background-color: #555555;
}

.button1:hover {
    color: black;
    background-color: #e7e7e7;
}

.button1:active {
    background-color: #555555;
}