@font-face {
    font-family: 'GWTwoFont';
    src: url('Police/GuildWars2/GWTwoFont.ttf');
}
.websiteIcon {
    font-family: GWTwoFont, serif;
    color : wheat;
}
.navbar {
    z-index: 5;
    position: absolute;
    width: 100%;
}
.navbar-nav .dropdown-menu {
    background-color: #0c5460;
}
.navbar-nav .dropdown-menu a {
    color : wheat;
}
.navbar-nav .dropdown-menu a:hover {
    background-color: #0f6674;
}
.page-footer {
    width: 100%;
    height : 7.5%;
}
/* When we are over 1200px width */
@media only screen and (min-width: 1200px) {
    /*
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    */
    .websiteIcon {
        font-size: 1.1vw;
    }
    .websiteIcon img{
        width : 2.35vw;
    }

    .nav-item {
        font-size: 0.85vw;
    }
}
/* When we are under 1200px width */
@media only screen and (max-width: 1201px) {
    .websiteIcon {
        font-size: 80%;
    }
    .websiteIcon img{
        width: 35px;
    }

    .nav-item {
        font-size: 12px;
    }
}