body {
	margin: 0;
	font-family: sans-serif;
	font-size: 0.8em;
	background-color: #F5F5F5;
}

input[type="submit"] {
	margin-left: 10px;
	width: 50px; height: 26px;
}

.auto-completion {
	width: 300px;
	margin-top: 80px;
	height: 22px;
	margin-left: auto;
	margin-right: auto;
}

#search {
	padding: 2px 4px;
	width: 220px;
	height: 22px;
	border: 1px solid #AAA;
}

#search:hover, #search:focus {
	border-color: #777;
}

#results {
	display: none;
	width: 228px;
	border: 1px solid #AAA;
	border-top-width: 0;
	background-color: #FFF;
}

#results > div {
	width: 220px;
	padding: 2px 4px;
	text-align: left;
	border: 0;
	/* background-color: #FFF; */
}

#results div:hover, .result_focus {
	background-color: #DDD !important;
}

#results>div:nth-child(even) {background: rgba(43,43,43,0.4)}
#results>div:nth-child(odd) {background: rgba(255,255,255,0.6)}

.Competence_recherche{
	height : 40px;
}

.Image_recherche{
	float : left
}

.Image_recherche img{
	height : 25px;
}

.PA_recherche{
	float : right;
}




