body{
	background-color : #2E2E2E;
}

div {
    display: block;
}

.niveauObj{
	float : right;
}

.mobile-item-wrapper {
    margin: -6px -6px 16px 0;
	margin-left : 23%;
}

.mobile-item-wrapper.d3-class-necromancer .mobile-item-selection {
    background: url(../images/build/mobile-build-necromancer.png) no-repeat;
}

.mobile-item-wrapper .mobile-item-selection {
    width: 314px;
    height: 444px;
    margin: 0 auto;
    background: url(../images/build/mobile-build-barbarian.png) no-repeat;
    position: relative;
}

ul, ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Coiffe {
    top: 17px;
    left: 123px;

}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Coiffe a {
    width: 64px;
    height: 64px;
    overflow: visible;
}





.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Epaules {
    top: 41px;
    left: 41px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Epaules a {
    width: 64px;
    height: 86px;
    overflow: visible;
}




.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Amulette {
    top: 60px;
    left: 207px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Amulette a {
    width: 55px;
    height: 55px;
}
.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Amulette a img{
    width: 55px;
    height: 55px;
}



.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Torse {
    top: 87px;
    left: 115px;

}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Torse a {
    width: 80px;
    height: 112px;
}






.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Brassard {
    top: 140px;
    left: 230px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Brassard a {
    width: 65px;
    height: 86px;
    overflow: visible;
}






.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Gants {
    top: 140px;
    left: 15px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Gants a {
    width: 65px;
    height: 86px;
    overflow: visible;
}
.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Gants a img{

	height: 86px;

}




.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Ceinture {
    top: 206px;
    left: 115px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Ceinture a {
    width: 81px;
    height: 32px;
}








.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Jambières {
    top: 245px;
    left: 124px;
 
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Jambières a {
    width: 62px;
    height: 84px;
}


.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Bottes {
    top: 336px;
    left: 124px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Bottes a {
    width: 62px;
    height: 85px;
    overflow: visible;
}







.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau1, .mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau2 {
    top: 240px;
    left: 27px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau1 a, .mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau2 a {
    width: 40px;
    height: 40px;
}
.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau1 a img, .mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau2 a img{
    width: 40px;
	height: 40px;
}




.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau2 {
    left: 243px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau1 a, .mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau2 a {
    width: 40px;
    height: 40px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau1, .mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Anneau2 {
    top: 240px;
}







.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Arme {
    top: 295px;
    left: 15px;
}

.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Arme a {
    width: 63px;
    height: 127px;
}







.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Offhand {
    top: 295px;
    left: 231px;
}


.mobile-item-wrapper .mobile-item-selection>li.item-slot-id-Offhand a {
    width: 63px;
    height: 127px;
}












.mobile-item-wrapper .mobile-item-selection .rarity-1 a .item-container {
    background-image: url(../images/build/white.jpg);
    background-color: #332314;
    border: 1px solid #848484;
}
.diablo-fans-tooltip.item-tooltip .db-image.rarity-1 {
    border: 1px solid #6E6E6E;
    background: url(../images/items/item-bg-rarity-12.jpg) no-repeat;
}
.rarity-1 {
    color: #6E6E6E!important;
}






.mobile-item-wrapper .mobile-item-selection .rarity-2 a .item-container {
    background-image: url(../images/build/brown.png);
    background-color: #332314;
    border: 1px solid #7a5f45;
}
.diablo-fans-tooltip.item-tooltip .db-image.rarity-2 {
    border: 1px solid #513f2e;
    background: url(../images/items/item-bg-rarity-2.png) no-repeat;
}
.rarity-2 {
    color: #513f2e!important;
}





.mobile-item-wrapper .mobile-item-selection .rarity-3 a .item-container {
    background-image: url(../images/build/blue.png);
    background-color: #332314;
    border: 1px solid #90c8d3;
}
.diablo-fans-tooltip.item-tooltip .db-image.rarity-3 {
    border: 1px solid #6091a6;
    background: url(../images/items/item-bg-rarity-3.png) no-repeat;
}
.rarity-3 {
    color: #6091a6!important;
}




.mobile-item-wrapper .mobile-item-selection .rarity-4 a .item-container{
	background-image:url("../images/build/yellow.png");
	background-color:#322914;
	border:1px solid #cdc75a;
}
.diablo-fans-tooltip.item-tooltip .db-image.rarity-4 {
    border: 1px solid #9b8e3c;
    background: url(../images/items/item-bg-rarity-4.png) no-repeat;
}
.rarity-4 {
    color: #9b8e3c!important;
}




.mobile-item-wrapper .mobile-item-selection .rarity-5 a .item-container {
    background-image: url(../images/build/orange.png);
    background-color: #332314;
    border: 1px solid #c29337;
}
.diablo-fans-tooltip.item-tooltip .db-image.rarity-5 {
    border: 1px solid #b4642f;
    background: url(../images/items/item-bg-rarity-5.png) no-repeat;
}
.diablo-fans-tooltip.item-tooltip .db-description small.rarity-5 {
    color: #b4642f!important;
}
.rarity-5{
	color: #b4642f
}





.mobile-item-wrapper .mobile-item-selection .rarity-6 a .item-container {
    background-image: url(../images/build/green.png);
    background-color: #262f14;
    border: 1px solid #87a73d;
}
.diablo-fans-tooltip.item-tooltip .db-image.rarity-6 {
    border: 1px solid #8bd442;
    background: url(../images/items/item-bg-rarity-6.png) no-repeat;
}
.rarity-6 {
    color: #8bd442;
}























.mobile-item-wrapper .mobile-item-selection>li {
    position: absolute;
}



.mobile-item-wrapper .mobile-item-selection>li>a {
    display: block;
    position: relative;
}



.mobile-item-wrapper .mobile-item-selection a .item-container {
    box-shadow: 0 0 9px rgba(0,0,0,0.09), 0 2px 5px rgba(0,0,0,0.5);
    display: block;
    border-radius: 4px;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}




.mobile-item-wrapper .mobile-item-selection>li>a .tooltip-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.mobile-item-wrapper .mobile-item-selection>li>a .image {
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

element.style {
    display: none;
}


.diablo-fans-tooltip {
    border: 1px solid #ebb16c;
    background: rgba(0,0,0,0.95);
    color: #bdac6f;
    position: relative;
    border-radius: 3px;
}

.diablo-fans-tooltip .db-tooltip {
    overflow: hidden;
}

.diablo-fans-tooltip:not(.db-tooltip-loading) .db-tooltip {
    width: 350px;
}

ul, ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.diablo-fans-tooltip .db-title.db-header {
    position: relative;
    background: url(../images/tooltip-header.png) no-repeat center center;
    height: 52px;
    width: 348px;
    text-align: center;
    padding: 1px;
    margin: 0;
    margin-bottom: 8px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}




.diablo-fans-tooltip.item-tooltip .db-image {
    border-radius: 10px;
    z-index: 5;
    position: relative;
}
.diablo-fans-tooltip:not(.db-tooltip-loading) .db-image, .diablo-fans-tooltip:not(.db-tooltip-loading) .db-description {
    margin-bottom: 10px;
}
.diablo-fans-tooltip .db-image, .diablo-fans-tooltip .db-description {
    float: left;
    z-index: 3;
}
.diablo-fans-tooltip .db-image {
    margin-left: 10px;
}

.diablo-fans-tooltip.item-tooltip .db-image img {
    z-index: 7;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.diablo-fans-tooltip .db-description .primary-stat span {
    display: block;
    font-size: 275%;
    line-height: .8em;
    font-family: "Palatino Linotype","Times",serif;
    margin-bottom: 5px;
}

























a.item-slot-container:hover .touch-tip,a.item-slot-container:hover .diablo-fans-tooltip,a.item-slot-container:hover .item-tooltip,a.item-slot-container:hover .db-tooltip{
	display : block;
	z-index : 14;
	width : 348px;
	
}

.touch-tip{
	display : none;
}


















.diablo-fans-tooltip .db-title.db-header span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 20px;
    white-space: pre-wrap;
}


.diablo-fans-tooltip.item-tooltip .db-description li {
    color: #7979d4;
}

.diablo-fans-tooltip.item-tooltip .db-description li:not(.inner) {
    margin-top: 5px;
}
.diablo-fans-tooltip.item-tooltip .db-description .primary-stat {
    color: #FFF;
}



.diablo-fans-tooltip:not(.db-tooltip-loading) .db-image, .diablo-fans-tooltip:not(.db-tooltip-loading) .db-description {
    margin-bottom: 10px;
}
.diablo-fans-tooltip .db-description {
    box-sizing: border-box;
    max-width: 250px;
    padding: 0 10px;
}


.diablo-fans-tooltip.item-tooltip .db-description .grouped-stats .set:first-child {
    color: #8bd442;
}
.diablo-fans-tooltip.item-tooltip .db-description .grouped-stats .set.item-name {
    color: #fff;
}

.diablo-fans-tooltip.item-tooltip .db-description .grouped-stats .set.set-item {
    padding-left: 20px;
}
.diablo-fans-tooltip.item-tooltip .db-description .grouped-stats .set {
    color: #909090;
    font-size: 12px;
}

.diablo-fans-tooltip.item-tooltip .db-description .grouped-stats .set.set-item {
    padding-left: 20px;
}


.diablo-fans-tooltip.item-tooltip .db-description .grouped-stats .set .set-num {
    font-weight: bold;
    color: #fff;
}



.diablo-fans-tooltip.item-tooltip .db-description li span.value {
    color: #bda6db;
}

.diablo-fans-tooltip.item-tooltip .passive {
    color: #b4642f!important;
}

.diablo-fans-tooltip.item-tooltip .db-description li:not(.inner) {
    margin-top: 5px;
}

.diablo-fans-tooltip.item-tooltip .db-description .primary-stat small {
    color: gray;
}
.diablo-fans-tooltip .db-description .primary-stat small {
    display: block;
    color: #888;
    font-size: 12px;
}




